*{margin:0;
	/*lasjdflkasdjf*/
	/*outline: 1px solid red;*/
	font-family: sans-serif;
}
.container{
	width: 970px;
	margin: 0px auto;
	min-height: 842px;
	background-color: #ececec;
}

/*comment*/
.navigationbar{
	height:130px;
	width: 970px;
}
hr{}
.call{
	display: inline-block;
	width: 588px;
	position: relative;
	bottom: 4px;
	text-align: right;
	margin-right: 20px;
	font-weight: bold;
}
.buttons{list-style: none;
display: inline-block;
border-left: 1px solid #d0d4d6;
padding-left: 13px;
padding-right: 13px;
padding-top:9px;
padding-bottom:8px;
color:#4a4a54;
font-size: 08pt;
font-weight: bold;}

.toolbar{
	margin: 0px;
	height: 30px;
	width: 930px;
	background-color: #e7eef2;
	display: inline-block;
	position: relative;
	bottom: 1px;
}

#last{
	border-right: 1px solid #d0d4d6;
	padding-right: 13px;
}

.mainpic{
	background-color: white;
	width:400px;
	height: 275px;
	position: relative;
	top: 1px;
	display: inline-block;
	margin-left: 20px;
	margin-top: 20px;
	vertical-align: top;
}
.mainpicture{
	margin:5px;
	width:390px;
}
.maincontent{
	margin-top: 20px;
	width: 490px;
	height:275px;
	display: inline-block;
	margin-left: 10px;
}
.about{
	width:490px;
	height: 30px;
	display: inline-block;
	background-color: #fdcb00;
}

.bottom{
	margin-left:10px; 
	margin-right: 10px;
	width: 950px;
	height: 700px;
	background-color: black;
}
.smalllogo{
	width:55px;
	height:15px;
	border-radius: 4px;
	margin-left: 40px;
	padding-top: 10px; 
	display: inline-block;
}
.textabout{
	position: relative;
	top: 5px;
	padding-top: 15px;
	padding-left: 6px;
	font-weight: bold;
	font-size: 8pt;
}
.boxtext{
	width:490px;
	height:245px;
	display: inline-block;
	background-color: #3e3e3e;
}
.textheritage{
color:white;
padding: 15px;
font-weight: bold;
font-size: 10pt;
}

.paragraph{
	padding-left: 15px;
	padding-right: 15px;
	font-size: 8pt;
	color:white;
}

.bold{
	font-weight: bold;
}

.bulkdel{
	position: relative;
	bottom: 3px;
	left:10px;
	color: yellow;
	display: inline-block;
	font-size: 10pt;

}

.smallbox{
	width:209px;
	height: 220px;
	margin: 10px 9px 10px 9px;
	display: inline-block;
	vertical-align: top;
}

#two{
	position: relative;
	top: 20px;
}

#readtwo{
	position: relative;
	top: -3px;
}
#first{
	position: relative;
	left: 11px;
	margin-right: 20px;
}
.smallboxhead{
	width:209px;
	height:30px;
	display: inline-block;
	background-color: #fdd11a;
	font-size:10pt;
	font-weight: bold;
	position: relative;
	bottom: 2px;
}

.headtext{
	padding-left: 5px;
	padding-top: 8px;
}
.automotive{
	position: relative;
	top: 5px;
	width:209px;
}


.whitespace{
	width:209px;
	background-color: white;
	height:128px;
	display: inline-block;
	vertical-align: top;
}

.whitespacepar{
	font-size: 8pt;
	padding: 10px;
}

.arrow{
	position: relative;
	left: 120px;
	top:10px;
}

.readmore{
	font-size: 8px;
	position: relative;
	bottom: 14px;
	left:132px;
}